.footer__content {
  font-size: .8rem;
}

.menu {
  border-color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  display: inherit;
}

#home-subtitle {
  background: #FE5186;
  color: white;
  border-radius: 1rem;
  font-weight: 600;
}